@import "../variables.scss";
@import "../components/wrapper.scss";
.header{
    height:65px;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 3px solid $color-font-base;
    top: 0;
    left: 5%;
    right: 5%;
    .title{
        font-size: 18px;
        font-weight: bold;
        color: $color-font-base;
        text-transform: uppercase;
    }
    .menu{
        font-size: 18px;
        color:$color-font-base;
        text-transform: uppercase;
        display: flex;
        &:hover{
            color:$color-primary;
        }
    }
}
