@import "./variables.scss";
/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body 基础样式 */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* 竖向允许滚动 */
  font-family: $font-family-base;
  font-size: $font-size-base;
  color:$color-font-base;
  line-height: 1.5;
}

h1{
    font-size: 128px;
    color: $color-font-base;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 64px;
    color: $color-font-base;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.btn_primary{
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    background-color: darken($color-primary,10%);
  }
}
.btn_success{
  background-color: $color-success;
  color: $color-btn-text;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    background-color: darken($color-success,10%);
  }
}